<!-- MENU-2 STARTS -->
+IE({width: table_width ,align: 'center', valign: 'top'})
div(style="display: inline-block; width: 100%; max-width: " + table_width + "px; vertical-align: top;")
	<!-- ID:BG MENU-2 OPTIONAL -->
	table(align="center" bgcolor=bg_body border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + table_width + "px;")
		tr
			td(align="center" style="padding-left: " + body_pading_l + "px; padding-right: " + body_pading_r + "px;")
				+IE({width: body_width ,align: 'center', valign: 'top'})
				div(style="display: inline-block; width: 100%; max-width: " + body_width + "px; vertical-align: top;")
					table(align="center" border="0" class="display-width-inner" cellpadding="0" cellspacing="0" width="100%" style="max-width: " + body_width + "px;")
						tr
							+td-margin({margin: 'mr-yelow'})
						tr
							td(align="center" style="font-size: 0;")
								table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="width: 100%; max-width: 100%;")
									tr
										td(align="center" style="font-size:0; width:100%; max-width:100%;")
											+IE({col: 2, width_col: '150', align: 'center', valign: 'top'})
											div(style="display: inline-block;  width: 100%; max-width: 150px; vertical-align: top;")
												<!--TABLE LEFT-->
												table.table-after-div(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
													tr
														td(align="center")
															table.table-important(align="center" border="0" cellpadding="0" cellspacing="0")
																tr
																	<!-- ID:TXT MENU-2 -->
																	td(align="center" style="color:#333333;" width="150")
																		a.link(href="#")
																			+img({img_sm: '150x50/cccccc/ff00ff.png&text=150x50', alt: '150x50', width: '150' , height: '50'})

											+IE({col_td: 2, width_col: '446', align: 'center', valign: 'top'})
											div(style="display: inline-block; width: 100%; max-width: 446px; vertical-align: top;")
												table.table-after-div(align="center" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%")
													tr
														td(align="center" style="font-size: 0;")
															+IE({col: 2, width_col: '235', align: 'center', valign: 'top'})
															div(style="display:inline-block; width: 100%; max-width: 225px; vertical-align: top;")
																table(align="left" border="0" cellpadding="0" cellspacing="0" class="display-width-child" width="100%" style="width: 100%; max-width: 210px;border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt;")
																	tr
																		td(width="100%" style="font-size: 0;")
																			|&nbsp;
															+IE({col_td: 2, width_col: '210', align: 'center', valign: 'top'})
															div(style="display: inline-block; width: 100%; max-width: 215px; vertical-align: top;")
																<!--TABLE RIGHT-->
																table.table-after-div(align="right" border="0" cellpadding="0" cellspacing="0" width="100%")
																	tr
																		td(align="center" style="font-size: 0;")
																			table.table-after-div(align="center" border="0" cellpadding="0" cellspacing="0" width="100%")
																				tr
																					td(align="center")
																						table.table-important(align="center" border="0" width="100%" cellpadding="0" cellspacing="0")
																							tr
																								+td-margin({height: '13'})
																							tr
																								<!-- ID:TXT MENU-2 -->
																								td.text.text--sm-24(align="left" valign="middle")
																									a.link(href="#") Home
																								td(width="10")
																									|&nbsp;
																								<!-- ID:TXT MENU-2 BAR -->
																								td.text.text--sm-24(align="left" valign="middle") &nbsp;|&nbsp;
																								td(width="10")
																									|&nbsp;
																								td.text.text--sm-24(align="left" valign="middle")
																									a.link(href="#") Services
																								td(width="10")
																									|&nbsp;
																								<!-- ID:TXT MENU-2 BAR -->
																								td.text.text--sm-24(align="left" valign="middle") &nbsp;|&nbsp;
																								td(width="10")
																									|&nbsp;
																								td.text.text--sm-24(align="left" valign="middle")
																									a.link(href="#") About
																							tr
																								+td-margin({height: '13'})
															|!{IE_TABLE_END}
											|!{IE_TABLE_END}
						tr
							+td-margin({margin: 'mr-yelow'})
				|!{IE_TABLE_END}
|!{IE_TABLE_END}
<!-- MENU-2 ENDS -->