mixin menu(data)
	if data.menu
		table.table-important(align="center" border="0" cellpadding="0" cellspacing="0")
			tr
				td.h3(align="left")
					a.link.link--black(href="#")!=data.link_1
				td(style="padding: 0 5px;" width="35") &nbsp;
				td.h3(align="left")
					a.link.link--black(href="#")!=data.link_2
				td(style="padding: 0 5px;" width="35") &nbsp;
				td.h3(align="left")
					a.link.link--black(href="#")!=data.link_3


	if data.menuText
		table(align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing: 0;")
			tr 
				td(align="center")
					table.table-important(align="center" border="0" cellpadding="0" cellspacing="0")
						tr
							td.h3(align="left")
								a.link.link--black(href="#")!=data.link_1
							td(style="padding: 0 5px;" width="35") &nbsp;
							td.h3(align="left")
								a.link.link--black(href="#")!=data.link_2
							td(style="padding: 0 5px;" width="35") &nbsp;
							td.h3(align="left")
								a.link.link--black(href="#")!=data.link_3
			tr 
				+td-margin({margin: 'mr-lightblue'})
			tr 
				td.text.text--sm(align="center")!=data.text